In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (20,12)

def to_array(result):
    final_result = np.array(result)
    return final_result

# LR 0.851

In [2]:
logis = pd.read_csv("logistic_proba.csv")
logis.head()

          0         1         2
0  0.005816  0.214370  0.779815
1  0.934709  0.039362  0.025928
2  0.009821  0.115913  0.874266
3  0.493441  0.205238  0.301322
4  0.025898  0.172734  0.801368

# Ridge 0.6734

In [3]:
ridge = pd.read_csv("ridge_result.csv")
ridge.columns = ["0"]
ridge.head()

   0
0  2
1  0
2  2
3  2
4  2

# RF 0.93405

In [4]:
ranfo = pd.read_csv("rf_result.csv")
ranfo.head()

     0         1         2
0  0.0  0.149472  0.850528
1  1.0  0.000000  0.000000
2  0.0  0.050683  0.949317
3  1.0  0.000000  0.000000
4  0.0  0.075345  0.924655

# LGBM 0.9352

In [5]:
lgb = pd.read_csv("lgb_result.csv")
lgb.columns = ["0","1","2"]
lgb.head()

          0         1         2
0  0.000173  0.197936  0.801891
1  0.999958  0.000029  0.000013
2  0.000139  0.052725  0.947136
3  0.999962  0.000018  0.000020
4  0.000104  0.044596  0.955300

# XGB 0.93645

In [6]:
xgb = pd.read_csv("xgb_result.csv")
xgb.head()
pd.DataFrame(np.array(xgb).argmax(1)).iloc[:,0].value_counts()

2    40817
0    29977
1     9206
Name: 0, dtype: int64

In [7]:
lgb_train_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\lgb_train_stack.csv")
lgb_test_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\lgb_test_stack.csv")
lgb_train_stack.columns = ["lgb0","lgb1","lgb2"]
lgb_test_stack.columns = ["lgb0","lgb1","lgb2"]

xgb_train_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\xgb_train_stack.csv")
xgb_test_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\xgb_test_stack.csv")
xgb_train_stack.columns = ["xgb0","xgb1","xgb2"]
xgb_test_stack.columns = ["xgb0","xgb1","xgb2"]

rf_train_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\rf_train_stack.csv")
rf_test_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\rf_test_stack.csv")
rf_train_stack.columns = ["rf0","rf1","rf2"]
rf_test_stack.columns = ["rf0","rf1","rf2"]

lr_train_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\lr_train_stack.csv")
lr_test_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\lr_test_stack.csv")
lr_train_stack.columns = ["lr0","lr1","lr2"]
lr_test_stack.columns = ["lr0","lr1","lr2"]

rd_train_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\rd_train_stack.csv")
rd_test_stack = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\rd_test_stack.csv")
rd_train_stack.columns = ["rd0","rd1","rd2"]
rd_test_stack.columns = ["rd0","rd1","rd2"]

In [8]:
# rf, xgb, ,lgb, cat
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold,train_test_split
train = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\train.csv")
test = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\test.csv")

# x_train = pd.concat([lgb_train_stack,xgb_train_stack,rf_train_stack,lr_train_stack], axis=1)
# x_test = pd.concat([lgb_test_stack,xgb_test_stack,rf_test_stack, lr_test_stack], axis=1)

x_train = pd.concat([lgb_train_stack,xgb_train_stack,rf_train_stack,lr_train_stack,rd_train_stack], axis=1)
x_test = pd.concat([lgb_test_stack,xgb_test_stack,rf_test_stack, lr_test_stack,rd_test_stack], axis=1)
display(x_train.head(),x_test.head())

,lgb0,lgb1,lgb2,xgb0,xgb1,xgb2,rf0,rf1,rf2,lr0,lr1,lr2,rd0,rd1,rd2
0,0.999999,2.982668e-07,4.796013e-07,0.999999,2.452088e-07,5.087230e-07,1.000000,0.000000,0.000000,0.913420,0.000245,0.086335,0.606042,0.125865,0.215436
1,0.006222,6.046523e-01,3.891257e-01,0.009805,6.976661e-01,2.925287e-01,0.000752,0.476010,0.523238,0.054187,0.093255,0.852558,0.090395,0.162958,1.115600
2,0.999774,1.975984e-04,2.859832e-05,0.999544,4.023481e-04,5.392828e-05,0.998667,0.001333,0.000000,0.275173,0.223934,0.500893,0.144876,0.182809,0.620489
3,0.999998,6.710844e-07,1.596647e-06,0.999999,1.872798e-07,5.304106e-07,1.000000,0.000000,0.000000,0.977281,0.000008,0.022711,1.020916,0.103429,0.155631
4,0.999992,1.237498e-06,6.982293e-06,0.999999,2.514829e-07,1.186664e-06,1.000000,0.000000,0.000000,0.941107,0.000034,0.058859,0.695349,0.110028,0.214793

,lgb0,lgb1,lgb2,xgb0,xgb1,xgb2,rf0,rf1,rf2,lr0,lr1,lr2,rd0,rd1,rd2
0,0.000020,0.186220,0.813760,0.000010,0.140264,0.859726,0.000000,0.153964,0.846036,0.005816,0.214370,0.779815,0.084399,0.068192,0.158441
1,0.999983,0.000013,0.000004,0.999959,0.000033,0.000008,0.999908,0.000092,0.000000,0.934709,0.039362,0.025928,0.129371,0.059804,0.117861
2,0.000022,0.055379,0.944599,0.000028,0.060856,0.939116,0.000058,0.055360,0.944582,0.009821,0.115913,0.874266,0.085872,0.063854,0.166303
3,0.999986,0.000007,0.000007,0.999988,0.000006,0.000006,1.000000,0.000000,0.000000,0.493441,0.205238,0.301322,0.072378,0.073112,0.172323
4,0.000013,0.037135,0.962853,0.000008,0.020237,0.979755,0.000000,0.083517,0.916483,0.025898,0.172734,0.801368,0.064924,0.066433,0.211419

In [9]:
y = train["class"]
y

0         0
1         1
2         0
3         0
4         0
         ..
319995    2
319996    1
319997    0
319998    0
319999    0
Name: class, Length: 320000, dtype: int64

In [10]:
# from sklearn.metrics import accuracy_score, confusion_matrix

# x1,v1,x2,v2  = train_test_split(x_train, train["class"], test_size = 0.2, random_state = 42)

# xgb = XGBClassifier(objective='multiclass', # 6378 depth 8 / 93.631%
#                              n_estimators=500,
#                              max_depth=8,
#                              random_state=42,
#                             min_child_weight = 10,
#                             colsample_bytree = 1,
#                              nthread = -1)
# xgb.fit(x1, x2, eval_set=[(v1, v2)], early_stopping_rounds = 10)

# # lgb = LGBMClassifier(objective='multiclass', # 1531 ~ 1530
# #                              n_estimators=2000,
# #                              num_leaves=4,
# # #                              learning_rate=0.01,
# # #                              min_child_samples=10,
# # #                              colsample_bytree=.5,
# # #                              subsample = 0.5,
# # #                              subsample_freq = 1,
# #                              random_state=42,
# #                              n_jobs=-1)

# # lgb.fit(x1, x2, eval_set=[(v1, v2)], early_stopping_rounds = 30)
# p_val = xgb.predict(v1)
# print(f'{accuracy_score(v2, p_val) * 100:.4f}%')

# confusion_matrix(v2, p_val )

# LGB/XGB로 스태킹

In [11]:
# cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

# p_val = np.zeros((x_train.shape[0], 3))
# p_tst = np.zeros((x_test.shape[0], 3))


# for i, (i_trn, i_val) in enumerate(cv.split(x_train, y), 1):
#     print(f'training model for CV #{i}')
    
#     # lgb 93655
#     clf = LGBMClassifier(objective='multiclass',
#                              n_estimators=200,
#                              num_leaves=10,
#                              colsample_bytree=.6,
#                              random_state=42,
#                              n_jobs=-1)
    
#     # xgb 93645
# #     clf = XGBClassifier(objective='multiclass', # 6378 depth 8 / 93.631%
# #                              n_estimators=500,
# #                              max_depth=8,
# #                              random_state=42,
# #                             min_child_weight = 10,
# #                             colsample_bytree = 1,
# #                              nthread = -1)
 
#     clf.fit(x_train.iloc[i_trn], y[i_trn],
#             eval_set=[(x_train.iloc[i_val], y[i_val])],
#             early_stopping_rounds=15)
    
#     p_val[i_val, :] = clf.predict_proba(x_train.iloc[i_val])
#     p_tst += clf.predict_proba(x_test) / 10

# LR/RF로 스태킹

In [12]:
# for i, (i_trn, i_val) in enumerate(cv.split(x_train, y), 1):
#     print(f'training model for CV #{i}')

#     ## rf
#     clf = RandomForestClassifier(n_estimators = 250,
#                                  verbose = 1,
#                                  n_jobs = 6)
    
#     ## logistic  93.65
# #     clf = LogisticRegression(multi_class='multinomial', n_jobs = 4)
    
#     clf.fit(x_train.iloc[i_trn], y[i_trn])
#     p_val[i_val, :] = clf.predict_proba(x_train.iloc[i_val])
#     p_tst += clf.predict_proba(x_test) / 10

In [ ]:
# imp = pd.DataFrame({'importance': clf.coef_[1, :].T})
# imp = imp.sort_values('importance')
# imp.plot(kind='barh', figsize=(8, 8))

In [19]:
# result1 = xgb*0.9 + logis*0.1 # 0.93 645 ***
# result2 = xgb*0.8 + logis*0.2 # 0.93 627
# result3 = xgb*0.7 + logis*0.3 # 0.93 54
# result4 = xgb*0.6 + logis*0.4

# result = test1*0.8 + ranfo*0.2
# result0 = xgb*0.3 + ranfo*0.7      # 93565
#result0 = xgb*0.4 + ranfo*0.6      0.93605
# result1 = xgb*0.5 + ranfo*0.5    0.9361 
# best = xgb*0.6 + ranfo*0.4 #     0.93597
# result4 = xgb*0.65 + ranfo*0.35 
# result = xgb*0.6 + 0.1*lgb + ranfo*0.2 + logis*0.1
# result5 = xgb*0.8 + ranfo*0.2    0.9361


# 2*xgb*ranfo/(xgb+ranfo) #조화평균 0.936025
# np.sqrt(xgb*ranfo) # 기하평균

# result1 = xgb*0.5 + lgb*0.5  
# result2 = xgb*0.6 + lgb*0.4   
# result3 = xgb*0.7 + lgb*0.3

In [20]:
result = to_array(result)
result

array([[0.00157256, 0.16746953, 0.83095791],
       [0.99304556, 0.00421276, 0.00274166],
       [0.00176093, 0.06168218, 0.93655687],
       ...,
       [0.97785879, 0.01207215, 0.01006908],
       [0.02626297, 0.07415623, 0.89958083],
       [0.97399593, 0.02445514, 0.00154891]])

In [21]:
sub = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\sample_submission.csv")
sub["class"] = result.argmax(1)
sub

           id  class
0      320000      2
1      320001      0
2      320002      2
3      320003      0
4      320004      2
...       ...    ...
79995  399995      0
79996  399996      2
79997  399997      0
79998  399998      2
79999  399999      0

[80000 rows x 2 columns]

In [22]:
sub.to_csv("LAST.csv", index=False)