In [1]:
import pandas as pd
import numpy as np

# 로지스틱 0.83

In [2]:
logis = pd.read_csv("logistic_proba.csv")
logis.columns = ["0","1","2"]
logis.head()

          0         1         2
0  0.021654  0.202414  0.775932
1  0.966385  0.016627  0.016988
2  0.032500  0.123309  0.844191
3  0.558948  0.156639  0.284413
4  0.060456  0.154974  0.784569

# 릿지 0.669

In [3]:
ridge = pd.read_csv("ridge_result.csv")
ridge.head()

   ridge_result
0             2
1             0
2             2
3             2
4             2

# 랜포 0.93??

In [4]:
ranfo = pd.read_csv("rf_result.csv")
ranfo.columns = ["0","1","2"]
ranfo.head()

     0       1       2
0  0.0  0.1300  0.8700
1  1.0  0.0000  0.0000
2  0.0  0.0850  0.9150
3  1.0  0.0000  0.0000
4  0.0  0.1275  0.8725

# LGBM

In [5]:
lgb = pd.read_csv("lgb_result.csv")
lgb.columns = ["0","1","2"]
lgb.head()

          0         1         2
0  0.000394  0.146877  0.852730
1  0.999926  0.000057  0.000017
2  0.000282  0.047471  0.952247
3  0.999979  0.000012  0.000009
4  0.000254  0.032358  0.967388

# XGB 0.93645

In [6]:
xgb = pd.read_csv("xgb_result.csv")
xgb.head()

          0         1         2
0  0.000866  0.143775  0.855359
1  0.999829  0.000108  0.000063
2  0.000542  0.052084  0.947374
3  0.999880  0.000062  0.000058
4  0.000580  0.029181  0.970239

In [17]:
# result1 = xgb*0.9 + logis*0.1 # 0.93645 ***
# result2 = xgb*0.8 + logis*0.2 # 0.936275
# result3 = xgb*0.7 + logis*0.3 # 0.9354
# result4 = xgb*0.6 + logis*0.4 # 


# result0 = xgb*0.4 + ranfo*0.6 # 0.93685
# result1 = xgb*0.5 + ranfo*0.5 # 0.93685
# result2 = xgb*0.6 + ranfo*0.4 # 0.936975 ***
# result3 = xgb*0.7 + ranfo*0.3 # 0.93695


# result1 = xgb*0.5 + lgb*0.5
# result2 = xgb*0.6 + lgb*0.4
# result3 = xgb*0.4 + lgb*0.6

In [18]:
def to_array(result):
    result = np.array(result)
    return result


result = to_array(result0)
result

array([[3.46486600e-04, 1.35510084e-01, 8.64143464e-01],
       [9.99931560e-01, 4.31103840e-05, 2.53334720e-05],
       [2.16776460e-04, 7.18335980e-02, 9.27949640e-01],
       ...,
       [9.99949932e-01, 2.54077880e-05, 2.46607640e-05],
       [2.38950900e-04, 8.02832280e-02, 9.19477816e-01],
       [9.96951984e-01, 1.52395586e-03, 1.52403796e-03]])

In [19]:
sub = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\sample_submission.csv")

In [20]:
sub["class"] = result.argmax(1)
sub

           id  class
0      320000      2
1      320001      0
2      320002      2
3      320003      0
4      320004      2
...       ...    ...
79995  399995      0
79996  399996      2
79997  399997      0
79998  399998      2
79999  399999      0

[80000 rows x 2 columns]

In [21]:
sub.to_csv("ensemble.csv", index=False)