In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (20,12)

# 로지스틱 0.851

In [3]:
logis = pd.read_csv("logistic_proba.csv")
logis.head()

          0
0  0.198993
1  0.021373
2  0.118113
3  0.180809
4  0.141426

# 릿지 0.6734

In [4]:
ridge = pd.read_csv("ridge_result.csv")
ridge.columns = ["0"]
ridge.head()

   0
0  2
1  0
2  2
3  2
4  2

# 랜포 0.93??

In [5]:
ranfo = pd.read_csv("rf_result.csv")
ranfo.columns = ["0","1","2"]
ranfo.head()

     0       1       2
0  0.0  0.1300  0.8700
1  1.0  0.0000  0.0000
2  0.0  0.0850  0.9150
3  1.0  0.0000  0.0000
4  0.0  0.1275  0.8725

# LGBM 0.934~

In [8]:
lgb = pd.read_csv("lgb_result.csv")
lgb.columns = ["0","1","2"]
lgb.head()

          0         1         2
0  0.000394  0.146877  0.852730
1  0.999926  0.000057  0.000017
2  0.000282  0.047471  0.952247
3  0.999979  0.000012  0.000009
4  0.000254  0.032358  0.967388

# XGB 0.93645

In [6]:
xgb = pd.read_csv("xgb_result.csv")
xgb.head()

          0         1         2
0  0.000866  0.143775  0.855359
1  0.999829  0.000108  0.000063
2  0.000542  0.052084  0.947374
3  0.999880  0.000062  0.000058
4  0.000580  0.029181  0.970239

In [10]:
# 스태킹 앙상블

# ridge
xgb_df = pd.DataFrame(np.array(xgb).argmax(1))
rf_df = pd.DataFrame(np.array(ranfo).argmax(1))
logi_df = pd.DataFrame(np.array(logis).argmax(1))
lgb_df = pd.DataFrame(np.array(lgb).argmax(1))

stack = pd.concat([xgb_df,rf_df,lgb_df,logi_df,ridge], axis=1)
stack

       0  0  0  0  0
0      2  2  2  0  2
1      0  0  0  0  0
2      2  2  2  0  2
3      0  0  0  0  2
4      2  2  2  0  2
...   .. .. .. .. ..
79995  0  0  0  0  0
79996  2  2  2  0  0
79997  0  0  0  0  0
79998  2  2  2  0  2
79999  0  0  0  0  0

[80000 rows x 5 columns]

In [1]:
# 1. 단일 모델 앙상블로  xgb 최대로 0.93645 나

# 2. 스태킹  나

# 3. 추가파생변수   태홍이형

# 4. 로그여러번하기 x

In [24]:
# result1 = xgb*0.9 + logis*0.1 # 0.93 645 ***
# result2 = xgb*0.8 + logis*0.2 # 0.93 627
# result3 = xgb*0.7 + logis*0.3 # 0.93 54
# result4 = xgb*0.6 + logis*0.4


# result0 = xgb*0.4 + ranfo*0.6 # 0.93    685
# result1 = xgb*0.5 + ranfo*0.5 # 0.93    685
# best = xgb*0.6 + ranfo*0.4 # 0.93    6975 ***
# result4 = xgb*0.65 + ranfo*0.35 # 0.93  68
# result3 = xgb*0.7 + ranfo*0.3 # 0.93    695  **


# result1 = xgb*0.5 + lgb*0.5   # 0.93 6025
# result2 = xgb*0.6 + lgb*0.4   # 0.93 6175
# result3 = xgb*0.7 + lgb*0.3   #

In [30]:
def to_array(result):
    final_result = np.array(result)
    return final_result

result = to_array(result2)
result

array([[0.00443378, 0.15166169, 0.84390457],
       [0.99305625, 0.00388208, 0.00306167],
       [0.00646455, 0.07642494, 0.91711053],
       ...,
       [0.95996822, 0.02104681, 0.01898498],
       [0.06879272, 0.08970621, 0.84150107],
       [0.97864665, 0.0193127 , 0.00204063]])

In [31]:
sub = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\sample_submission.csv")

In [32]:
sub["class"] = result.argmax(1)
sub

           id  class
0      320000      2
1      320001      0
2      320002      2
3      320003      0
4      320004      2
...       ...    ...
79995  399995      0
79996  399996      2
79997  399997      0
79998  399998      2
79999  399999      0

[80000 rows x 2 columns]

In [33]:
sub.to_csv("ensemble.csv", index=False)