In [79]:
import pandas as pd
import numpy as np

# 로지스틱 0.83

In [80]:
logis = pd.read_csv("logistic_proba.csv")
logis.columns = ["0","1","2"]
logis.head()

          0         1         2
0  0.021654  0.202414  0.775932
1  0.966385  0.016627  0.016988
2  0.032500  0.123309  0.844191
3  0.558948  0.156639  0.284413
4  0.060456  0.154974  0.784569

# 릿지 0.669

In [81]:
ridge = pd.read_csv("ridge_result.csv")
ridge.head()

   ridge_result
0             2
1             0
2             2
3             2
4             2

# 랜포 0.929325

In [95]:
ranfo = pd.read_csv("rf_result.csv")
ranfo.columns = ["0","1","2"]
ranfo.head()

     0       1       2
0  0.0  0.1300  0.8700
1  1.0  0.0000  0.0000
2  0.0  0.0850  0.9150
3  1.0  0.0000  0.0000
4  0.0  0.1275  0.8725

# LGBM

In [96]:
lgb = pd.read_csv("lgb_result.csv")
lgb.columns = ["0","1","2"]
lgb.head()

          0         1         2
0  0.000394  0.146877  0.852730
1  0.999926  0.000057  0.000017
2  0.000282  0.047471  0.952247
3  0.999979  0.000012  0.000009
4  0.000254  0.032358  0.967388

# XGB 0.93645

In [97]:
xgb = pd.read_csv("xgb_result.csv")
xgb.head()

          0         1         2
0  0.000866  0.143775  0.855359
1  0.999829  0.000108  0.000063
2  0.000542  0.052084  0.947374
3  0.999880  0.000062  0.000058
4  0.000580  0.029181  0.970239

In [85]:
result1 = xgb*0.9 + logis*0.1 # 0.93645
result2 = xgb*0.8 + logis*0.2 
result3 = xgb*0.7 + logis*0.3 


# result2 = xgb*0.5 + ranfo*0.5
# result2 = xgb*0.6 + ranfo*0.4
# result2 = xgb*0.5 + ranfo*0.5


# result3 = xgb*0.9 + logis*0.1

In [91]:
def to_array(result):
    result = np.array(result)
    return result


result = to_array(result1)
result

array([[0.00294498, 0.14963914, 0.84741596],
       [0.99648449, 0.00175967, 0.00175585],
       [0.00373776, 0.05920648, 0.93705579],
       ...,
       [0.98191793, 0.00878879, 0.00929328],
       [0.03858441, 0.07347549, 0.88794009],
       [0.98279846, 0.01567705, 0.00152444]])

In [92]:
sub = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\sample_submission.csv")

In [93]:
sub["class"] = result.argmax(1)
sub

           id  class
0      320000      2
1      320001      0
2      320002      2
3      320003      0
4      320004      2
...       ...    ...
79995  399995      0
79996  399996      2
79997  399997      0
79998  399998      2
79999  399999      0

[80000 rows x 2 columns]

In [94]:
sub.to_csv("xgb+logi.csv", index=False)