In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import RidgeClassifier
from sklearn.model_selection import cross_val_score
from catboost import CatBoostClassifier
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
pd.options.display.max_columns = 50

In [2]:
# 1. dered끼리 차이 
# 2. pca해보기 - 결과 살짝 안좋아짐
# 3. 이상치제거

In [3]:
train = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\train.csv")
train

,id,u,g,r,i,z,redshift,dered_u,dered_g,dered_r,dered_i,dered_z,nObserve,nDetect,airmass_u,airmass_g,airmass_r,airmass_i,airmass_z,class
0,0,23.263956,20.336773,19.009500,17.672439,16.939607,-0.000081,23.12426,20.25779,18.95512,17.63211,16.90894,18,18,1.189764,1.190681,1.188979,1.189355,1.190206,0
1,1,15.052147,14.061969,13.452418,13.268450,13.168941,0.004506,14.96642,14.00452,13.41139,13.23625,13.13468,1,1,1.253254,1.257836,1.248762,1.250997,1.255533,1
2,2,16.786385,15.825426,15.536318,15.393535,15.350032,0.000472,16.60765,15.68659,15.44004,15.32173,15.29608,2,2,1.022499,1.024105,1.020983,1.021730,1.023291,0
3,3,25.660638,21.188727,20.221158,19.894949,19.634649,0.000006,25.35365,20.99465,20.08727,19.79465,19.55518,4,3,1.205399,1.206058,1.204874,1.205120,1.205712,0
4,4,24.453429,20.699170,19.042368,18.324152,17.982649,-0.000033,23.77140,20.43384,18.86299,18.19028,17.87592,13,12,1.193946,1.194285,1.193738,1.193826,1.194099,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319995,319995,18.365648,17.240883,16.773898,16.484970,16.340403,0.051988,18.13280,17.04065,16.63744,16.38606,16.28741,2,2,1.093010,1.088828,1.097310,1.095145,1.090905,2
319996,319996,18.685639,17.665802,17.190434,16.816858,16.636688,0.087261,18.52074,17.51310,17.08711,16.74363,16.60173,2,2,1.051689,1.050838,1.052640,1.052152,1.051252,1
319997,319997,21.188972,18.423357,17.295610,16.901072,16.684127,-0.000010,20.98896,18.30760,17.21518,16.84030,16.63555,31,30,1.193259,1.194140,1.192509,1.192868,1.193683,0
319998,319998,18.847187,17.318605,16.505729,16.180571,15.911624,-0.000045,16.38998,15.40578,15.18229,15.19693,15.17935,1,1,1.172458,1.172561,1.172481,1.172454,1.172493,0
319999,319999,19.860438,18.819866,18.515579,18.414884,18.307998,-0.000965,19.82565,18.78191,18.49081,18.39869,18.30977,1,1,1.057076,1.056240,1.057976,1.057518,1.056650,0

In [4]:
def preproc(dataFrame):
    saveIdx = dataFrame.index
    dataFrame = dataFrame.reset_index(drop=True)
    # 파생변수 생성
    dataFrame['u-g'] = dataFrame['u'] - dataFrame['g']
    dataFrame['g-r'] = dataFrame['g'] - dataFrame['r']
    dataFrame['r-i'] = dataFrame['r'] - dataFrame['i']
    dataFrame['i-z'] = dataFrame['i'] - dataFrame['z']
    # dataFrame['delta'] = dataFrame['nDetect'] - dataFrame['nObserve']
    # if dropD:
    #   dataFrame = dataFrame.drop(['dered_u','dered_g','dered_r','dered_i','dered_z'], axis=1)

    # PCA
    pca = PCA(n_components=1)
    df_pca = pca.fit_transform(dataFrame[['u', 'g', 'r', 'i', 'z']])
    df_pca2 = pca.fit_transform(dataFrame[['dered_u','dered_g','dered_r','dered_i','dered_z']])
    df_pca3 = pca.fit_transform(dataFrame[['airmass_u', 'airmass_g', 'airmass_r', 'airmass_i', 'airmass_z']])


    dataFrame = pd.concat((dataFrame, pd.DataFrame(df_pca)), axis = 1)
    dataFrame.rename({0:'F1'}, axis = 1, inplace = True)
    dataFrame = pd.concat((dataFrame, pd.DataFrame(df_pca2)), axis = 1)
    dataFrame.rename({0:'D1'}, axis = 1, inplace = True)
    dataFrame = pd.concat((dataFrame, pd.DataFrame(df_pca3)), axis = 1)
    dataFrame.rename({0:'A1'}, axis = 1, inplace = True)

    dataFrame.drop(['u', 'g', 'r', 'i', 'z', 'dered_u','dered_g','dered_r','dered_i','dered_z'], axis = 1, inplace = True)
    dataFrame.drop(['airmass_u','airmass_g','airmass_r','airmass_i','airmass_z'], axis = 1, inplace = True)

    dataFrame.index = saveIdx
    return dataFrame

# train = preproc(train)
# train

In [5]:
# 이상치 제거 1 - 분포
# train = train.drop(train[train["u"] < -10].index) # 애매한데
# train = train.drop(train[(train["g"] < -15000)].index) 
# train = train.drop(train[train["r"] > 60].index)
# train = train.drop(train[train["i"] < -20000].index)
# train = train.drop(train[train["z"] < -6000].index)

# plt.figure(figsize=(20,12))
# sns.boxplot(train["class"], train["u"])
# sns.countplot(alldata["nObserve"], alldata["class"])


# # 이상치 제거 2 - 상관도
# train = train.drop(train[(train["g"] > 80) | (train["g"] < -40)].index)
# train = train.drop(train[train["redshift"] < -100].index)
# train = train.drop(train[train["z"] > 6000].index)
# train = train.drop(train[(train["redshift"] < -40) & (train["nObserve"] > 5)].index)
# train
# plt.figure(figsize=(20,12))
# sns.scatterplot(alldata["i"], alldata["z"])
# train

In [6]:
# plt.figure(figsize = (20,12))
# sns.heatmap(train.corr(), annot = True, annot_kws = {"size" : 11}, linewidths = 1 )

In [7]:
test = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\test.csv")
test

,id,u,g,r,i,z,redshift,dered_u,dered_g,dered_r,dered_i,dered_z,nObserve,nDetect,airmass_u,airmass_g,airmass_r,airmass_i,airmass_z
0,320000,19.143050,18.017200,17.473255,17.114411,16.926293,0.121303,19.07495,17.95495,17.43085,17.08381,16.90872,1,1,1.156348,1.151487,1.161321,1.158819,1.153902
1,320001,18.740910,17.170473,16.369084,15.986452,15.730708,-0.000067,15.07033,14.30976,14.39011,14.51600,14.63716,2,2,1.007637,1.007383,1.007975,1.007795,1.007500
2,320002,19.298048,17.880346,17.222135,16.809561,16.635239,0.110010,19.10036,17.77263,17.14601,16.74968,16.56888,1,1,1.380859,1.390490,1.371502,1.376145,1.385635
3,320003,18.077467,17.156943,16.904111,16.811800,16.795520,0.000030,17.97294,17.07353,16.84696,16.76995,16.76677,1,1,1.140796,1.140808,1.140903,1.140834,1.140787
4,320004,17.832467,16.764587,16.213526,15.872181,15.662084,0.068471,17.75447,16.67943,16.15628,15.83145,15.64335,2,2,1.111023,1.107658,1.114511,1.112750,1.109325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,399995,19.673388,18.661662,18.270788,18.122501,18.062672,-0.000317,19.33614,18.39331,18.08600,17.98610,17.96699,17,17,1.185843,1.186322,1.185493,1.185652,1.186067
79996,399996,21.522869,20.728282,20.608695,21.004875,20.845799,0.065455,21.39935,20.63992,20.54506,20.95069,20.78268,8,4,1.284956,1.290772,1.279329,1.282120,1.287838
79997,399997,19.399065,18.241076,18.160492,18.197753,18.201831,-0.000842,18.91359,17.87533,17.90469,18.00426,18.04000,1,1,1.188475,1.188563,1.188518,1.188480,1.188503
79998,399998,18.899747,17.600868,17.132878,16.822347,16.594561,0.042817,18.77153,17.48798,17.05567,16.76595,16.55850,17,17,1.180429,1.181329,1.179654,1.180025,1.180862
79999,399999,20.758705,20.425247,20.536181,20.772863,20.969791,0.000285,20.49577,20.21810,20.39393,20.66961,20.90850,5,5,1.183152,1.177529,1.188900,1.186009,1.180324

In [8]:
alldata = pd.concat([train,test])
alldata

,id,u,g,r,i,z,redshift,dered_u,dered_g,dered_r,dered_i,dered_z,nObserve,nDetect,airmass_u,airmass_g,airmass_r,airmass_i,airmass_z,class
0,0,23.263956,20.336773,19.009500,17.672439,16.939607,-0.000081,23.12426,20.25779,18.95512,17.63211,16.90894,18,18,1.189764,1.190681,1.188979,1.189355,1.190206,0
1,1,15.052147,14.061969,13.452418,13.268450,13.168941,0.004506,14.96642,14.00452,13.41139,13.23625,13.13468,1,1,1.253254,1.257836,1.248762,1.250997,1.255533,1
2,2,16.786385,15.825426,15.536318,15.393535,15.350032,0.000472,16.60765,15.68659,15.44004,15.32173,15.29608,2,2,1.022499,1.024105,1.020983,1.021730,1.023291,0
3,3,25.660638,21.188727,20.221158,19.894949,19.634649,0.000006,25.35365,20.99465,20.08727,19.79465,19.55518,4,3,1.205399,1.206058,1.204874,1.205120,1.205712,0
4,4,24.453429,20.699170,19.042368,18.324152,17.982649,-0.000033,23.77140,20.43384,18.86299,18.19028,17.87592,13,12,1.193946,1.194285,1.193738,1.193826,1.194099,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,399995,19.673388,18.661662,18.270788,18.122501,18.062672,-0.000317,19.33614,18.39331,18.08600,17.98610,17.96699,17,17,1.185843,1.186322,1.185493,1.185652,1.186067,NaN
79996,399996,21.522869,20.728282,20.608695,21.004875,20.845799,0.065455,21.39935,20.63992,20.54506,20.95069,20.78268,8,4,1.284956,1.290772,1.279329,1.282120,1.287838,NaN
79997,399997,19.399065,18.241076,18.160492,18.197753,18.201831,-0.000842,18.91359,17.87533,17.90469,18.00426,18.04000,1,1,1.188475,1.188563,1.188518,1.188480,1.188503,NaN
79998,399998,18.899747,17.600868,17.132878,16.822347,16.594561,0.042817,18.77153,17.48798,17.05567,16.76595,16.55850,17,17,1.180429,1.181329,1.179654,1.180025,1.180862,NaN
79999,399999,20.758705,20.425247,20.536181,20.772863,20.969791,0.000285,20.49577,20.21810,20.39393,20.66961,20.90850,5,5,1.183152,1.177529,1.188900,1.186009,1.180324,NaN

망원경에서 망원경으로 또는 밤에서 밤까지 절대교정과 관련된 불확실성을 줄이기 위해 

천문학자들은 일반적으로 두 개의 서로 다른 필터 밴드 사이의 크기 차이로 정의되는 색상으로 작업한다. 

두 개의 크기를 빼면 이러한 불확실성이 감소한다. 

예를 들어, 위의 별 베가에 대한 관측은 벡터 4개의 숫자로 구성된다. [u-g, g-r, r-i, i-z]

In [9]:
alldata["u-g"] = alldata["u"]-alldata["g"]
alldata["g-r"] = alldata["g"]-alldata["r"]
alldata["r-i"] = alldata["r"]-alldata["i"]
alldata["i-z"] = alldata["i"]-alldata["z"]

alldata["d1"] = alldata["dered_u"]-alldata["dered_g"]
alldata["d2"] = alldata["dered_g"]-alldata["dered_r"]
alldata["d3"] = alldata["dered_r"]-alldata["dered_i"]
alldata["d4"] = alldata["dered_i"]-alldata["dered_z"]

alldata["minusOD"] = alldata["nObserve"] - alldata["nDetect"]
alldata["plusOD"] = alldata["nObserve"] + alldata["nDetect"]

alldata

,id,u,g,r,i,z,redshift,dered_u,dered_g,dered_r,dered_i,dered_z,nObserve,nDetect,airmass_u,airmass_g,airmass_r,airmass_i,airmass_z,class,u-g,g-r,r-i,i-z,d1,d2,d3,d4,minusOD,plusOD
0,0,23.263956,20.336773,19.009500,17.672439,16.939607,-0.000081,23.12426,20.25779,18.95512,17.63211,16.90894,18,18,1.189764,1.190681,1.188979,1.189355,1.190206,0,2.927183,1.327273,1.337061,0.732833,2.86647,1.30267,1.32301,0.72317,0,36
1,1,15.052147,14.061969,13.452418,13.268450,13.168941,0.004506,14.96642,14.00452,13.41139,13.23625,13.13468,1,1,1.253254,1.257836,1.248762,1.250997,1.255533,1,0.990179,0.609551,0.183968,0.099509,0.96190,0.59313,0.17514,0.10157,0,2
2,2,16.786385,15.825426,15.536318,15.393535,15.350032,0.000472,16.60765,15.68659,15.44004,15.32173,15.29608,2,2,1.022499,1.024105,1.020983,1.021730,1.023291,0,0.960959,0.289108,0.142783,0.043503,0.92106,0.24655,0.11831,0.02565,0,4
3,3,25.660638,21.188727,20.221158,19.894949,19.634649,0.000006,25.35365,20.99465,20.08727,19.79465,19.55518,4,3,1.205399,1.206058,1.204874,1.205120,1.205712,0,4.471910,0.967569,0.326209,0.260300,4.35900,0.90738,0.29262,0.23947,1,7
4,4,24.453429,20.699170,19.042368,18.324152,17.982649,-0.000033,23.77140,20.43384,18.86299,18.19028,17.87592,13,12,1.193946,1.194285,1.193738,1.193826,1.194099,0,3.754259,1.656803,0.718216,0.341503,3.33756,1.57085,0.67271,0.31436,1,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,399995,19.673388,18.661662,18.270788,18.122501,18.062672,-0.000317,19.33614,18.39331,18.08600,17.98610,17.96699,17,17,1.185843,1.186322,1.185493,1.185652,1.186067,NaN,1.011727,0.390873,0.148287,0.059829,0.94283,0.30731,0.09990,0.01911,0,34
79996,399996,21.522869,20.728282,20.608695,21.004875,20.845799,0.065455,21.39935,20.63992,20.54506,20.95069,20.78268,8,4,1.284956,1.290772,1.279329,1.282120,1.287838,NaN,0.794588,0.119586,-0.396179,0.159076,0.75943,0.09486,-0.40563,0.16801,4,12
79997,399997,19.399065,18.241076,18.160492,18.197753,18.201831,-0.000842,18.91359,17.87533,17.90469,18.00426,18.04000,1,1,1.188475,1.188563,1.188518,1.188480,1.188503,NaN,1.157989,0.080584,-0.037262,-0.004078,1.03826,-0.02936,-0.09957,-0.03574,0,2
79998,399998,18.899747,17.600868,17.132878,16.822347,16.594561,0.042817,18.77153,17.48798,17.05567,16.76595,16.55850,17,17,1.180429,1.181329,1.179654,1.180025,1.180862,NaN,1.298879,0.467991,0.310531,0.227785,1.28355,0.43231,0.28972,0.20745,0,34
79999,399999,20.758705,20.425247,20.536181,20.772863,20.969791,0.000285,20.49577,20.21810,20.39393,20.66961,20.90850,5,5,1.183152,1.177529,1.188900,1.186009,1.180324,NaN,0.333457,-0.110934,-0.236682,-0.196928,0.27767,-0.17583,-0.27568,-0.23889,0,10

In [10]:
alldata2 = alldata.drop(["id","class"], axis=1)
alldata2 = alldata2.drop(["airmass_u","airmass_g","airmass_r","airmass_i","airmass_z"], axis=1 )
# alldata2 = alldata2.drop(["nDetect","nObserve"], axis=1 )

alldata2

,u,g,r,i,z,redshift,dered_u,dered_g,dered_r,dered_i,dered_z,nObserve,nDetect,u-g,g-r,r-i,i-z,d1,d2,d3,d4,minusOD,plusOD
0,23.263956,20.336773,19.009500,17.672439,16.939607,-0.000081,23.12426,20.25779,18.95512,17.63211,16.90894,18,18,2.927183,1.327273,1.337061,0.732833,2.86647,1.30267,1.32301,0.72317,0,36
1,15.052147,14.061969,13.452418,13.268450,13.168941,0.004506,14.96642,14.00452,13.41139,13.23625,13.13468,1,1,0.990179,0.609551,0.183968,0.099509,0.96190,0.59313,0.17514,0.10157,0,2
2,16.786385,15.825426,15.536318,15.393535,15.350032,0.000472,16.60765,15.68659,15.44004,15.32173,15.29608,2,2,0.960959,0.289108,0.142783,0.043503,0.92106,0.24655,0.11831,0.02565,0,4
3,25.660638,21.188727,20.221158,19.894949,19.634649,0.000006,25.35365,20.99465,20.08727,19.79465,19.55518,4,3,4.471910,0.967569,0.326209,0.260300,4.35900,0.90738,0.29262,0.23947,1,7
4,24.453429,20.699170,19.042368,18.324152,17.982649,-0.000033,23.77140,20.43384,18.86299,18.19028,17.87592,13,12,3.754259,1.656803,0.718216,0.341503,3.33756,1.57085,0.67271,0.31436,1,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,19.673388,18.661662,18.270788,18.122501,18.062672,-0.000317,19.33614,18.39331,18.08600,17.98610,17.96699,17,17,1.011727,0.390873,0.148287,0.059829,0.94283,0.30731,0.09990,0.01911,0,34
79996,21.522869,20.728282,20.608695,21.004875,20.845799,0.065455,21.39935,20.63992,20.54506,20.95069,20.78268,8,4,0.794588,0.119586,-0.396179,0.159076,0.75943,0.09486,-0.40563,0.16801,4,12
79997,19.399065,18.241076,18.160492,18.197753,18.201831,-0.000842,18.91359,17.87533,17.90469,18.00426,18.04000,1,1,1.157989,0.080584,-0.037262,-0.004078,1.03826,-0.02936,-0.09957,-0.03574,0,2
79998,18.899747,17.600868,17.132878,16.822347,16.594561,0.042817,18.77153,17.48798,17.05567,16.76595,16.55850,17,17,1.298879,0.467991,0.310531,0.227785,1.28355,0.43231,0.28972,0.20745,0,34
79999,20.758705,20.425247,20.536181,20.772863,20.969791,0.000285,20.49577,20.21810,20.39393,20.66961,20.90850,5,5,0.333457,-0.110934,-0.236682,-0.196928,0.27767,-0.17583,-0.27568,-0.23889,0,10

In [11]:
train2 = alldata2[:len(train)]
test2 = alldata2[len(train):]

In [13]:
# randomforest모델
rf = RandomForestClassifier(n_estimators = 400)
rf.fit(train2,train["class"])
result = rf.predict_proba(test2)

# catboost모델
# ca = CatBoostClassifier(n_estimators = 2000)
# ca.fit(x_train,y_train, eval_set = (x_valid, y_valid), early_stopping_rounds = 30)


x_train, x_valid, y_train, y_valid = train_test_split(train2,train["class"], 
                                                      test_size = 0.2, 
                                                      random_state = 42, 
                                                      shuffle = True, 
                                                      stratify = train["class"])

# lgb모델
# lgb = LGBMClassifier(n_estimators = 200, num_leaves = 200, n_jobs = -1)
# lgb.fit(x_train,y_train, eval_set = (x_valid, y_valid), early_stopping_rounds = 50)
# result = lgb.predict_proba(x_valid)
# 기존
# 700 0.1608 
# 600 0.1601
# 500 0.1592
# 400 0.1588
# 300 0.1589                           0.1564
# 200 0.1578 - 0.1578 - 0.1575         0.1562
# 100 0.1584



#####  Kfold 제출용 
# sfk = StratifiedKFold(n_splits = 10, random_state = 42, shuffle = True)
# result = 0

# for i,j in sfk.split(train2,train["class"]):
#     x_train = train2.iloc[i]
#     x_valid = train2.iloc[j]
#     y_train = train["class"].iloc[i]
#     y_valid = train["class"].iloc[j]

#     lgb = LGBMClassifier(n_estimators = 1500, num_leaves = 200, n_jobs = -1, learning_rate = 0.01)
#     lgb.fit(x_train,y_train, eval_set = (x_valid, y_valid), early_stopping_rounds = 30)
#     result += lgb.predict_proba(test2)/10





# Ridge모델
# # for i in [1,2,3,4,5,10,20]:
# #     ridgecv = RidgeClassifier(alpha = [i]) 
# #     a = np.sqrt(-cross_val_score(ridgecv, train2, train["class"], cv=10, n_jobs = -1, scoring = "neg_mean_squared_error").mean())
# #     print(a)  
 
# ridge = RidgeClassifier(alpha = [1])
# ridge.fit(train2,train["class"])
# result = ridge.predict(test2)

In [14]:
# print(accuracy_score(np.array(y_valid).astype(int),result.argmax(1)))
# confusion_matrix(np.array(y_valid).astype(int),result.argmax(1))

In [15]:
sub = pd.read_csv(r"C:\Users\scott\Desktop\dankook_dacon\dataset\sample_submission.csv")
sub

           id  class
0      320000      0
1      320001      0
2      320002      0
3      320003      0
4      320004      0
...       ...    ...
79995  399995      0
79996  399996      0
79997  399997      0
79998  399998      0
79999  399999      0

[80000 rows x 2 columns]

In [16]:
sub["class"] = result.argmax(1)
sub

           id  class
0      320000      2
1      320001      0
2      320002      2
3      320003      0
4      320004      2
...       ...    ...
79995  399995      0
79996  399996      2
79997  399997      0
79998  399998      2
79999  399999      0

[80000 rows x 2 columns]

In [17]:
sub.to_csv("dk_dacon.csv", index=False)

In [18]:
pd.Series(lgb.feature_importances_, index = train2.columns).sort_values(ascending = False).reset_index()

NameError: name 'lgb' is not defined